@import "./header";
@import "./reset";

.container {
    width: 50rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin: auto;
    padding-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 10rem;

    
}
.kart {
    background-color: blue;
    box-shadow: 1px 1px 8px 4px grey;
}

.container-1 {
    width: 20rem;
    height: 25rem;
    border-radius: 16px;
    border: none;
    display: flex;
    span {
        writing-mode: tb-rl;
        padding-left: 10px;
        font-family: 'Hubballi', cursive;
    }

}
.container-2 {
    width: 18rem;
    height: 25rem;
    border-radius: 20px;

    display: flex;
    align-items: flex-end;
    .job {
        writing-mode: tb-rl;
        padding-left: 10px;
        font-family: 'Hubballi', cursive;
        height: 335px;
    }
}